.mini-book-card {
  border: 1px solid #d9d9d9;
  width: 120px;
  height: 200px;
  border-radius: 2px;
  padding: 6px;
  box-sizing: border-box;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

.mini-book-card .cover {
  height: 100px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #999;
  border-radius: 2px;
  user-select: none;
  transition: background-color 0.3s, color 0.3s;
  overflow: hidden;
}

.light.mini-book-card {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.85);
  border-color: #d9d9d9;
}

.light.mini-book-card .cover {
  background-color: #f0f0f0;
  color: #999;
}

.light.mini-book-card:hover {
  box-shadow: 0 4px 8px rgba(24, 144, 255, 0.2);
  border-color: #1890ff;
}

.dark.mini-book-card {
  background-color: #141414;
  color: rgba(255, 255, 255, 0.85);
  border-color: #fff;
}

.dark.mini-book-card .cover {
  background-color: #1f1f1f;
  color: #666;
}

.dark.mini-book-card:hover {
  background-color: #222;
  border-color: #40a9ff;
  box-shadow: 0 4px 12px rgba(24, 144, 255, 0.4);
}

.mini-book-card .ant-card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 0;
}

.dark.mini-book-card .ant-typography,
.dark.mini-book-card .ant-typography-secondary {
  color: rgba(255, 255, 255, 0.85) !important;
}
